/* back to top button */
.fixo-btn {
    display: inline-block;
    color: #FEDB45;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
}

.fixo-btn:hover {
    border-radius: 10px;
    text-decoration: none;
    color: #FEDB45;
}

.fixo-btn-div  {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: fixed;
    bottom:5px;
    right: 4px;
    width:100%;
    z-index:100;
}

/* Add media queries */
@media only screen and (max-width: 768px) {
    
    .fixed-btn {
        background: #ff522f90;  
    }
    
    .fixed-btn:hover {
        background: #a8361f90;
    }
}