html, body, figure, img, div, input, textarea, p, h1, h2, h3, h4, h5, h6, ul, li, a, main {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

/* body */
body {
    font-family: 'Open Sans', sans-serif;
}

/* header */
header nav {
    background-color: #f7f5f4;
    box-shadow: 0 0 2em #ddd;
}

header nav form .botao-procurar {
    background-color: #FEDB45;
    color: gray;
}

header nav form .botao-procurar:hover {
    color: gray;
    box-shadow: 0 0 2em #ddd;
}