/* estilo geral */
html, body, figure, img, div, input, textarea, p, h1, h2, h3, h4, h5, h6, ul, li, a, main {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

h1, h3 {
    font-family: 'Amatic SC', cursive;
}

main section .container-ranking {
    margin: 150px;
}

main section table .tamanho-img-colocacao {
    width: 50px;
}

main .img-bg-ranking {
    position: absolute;
    top: 100px;
    left: 1800px;
}   

main section .btn-rank-continuar {
    background-color: #FEDB45;
    color: gray;
    width: 150px;
    display: flex;
    justify-content: center;
}

main section .btn-rank-continuar:hover {
    background-color:  #FEDB45;
    color: gray;
    box-shadow: 0 0 2em #ddd;
}