/* estilo geral */
html, body, figure, img, div, input, textarea, p, h1, h2, h3, h4, h5, h6, ul, li, a, main {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

/* body */
body {
    font-family: 'Open Sans', sans-serif;
}

main section a {
    text-decoration: none;
}

/* formulário de cadastro */
main section .alinhamento-form-cad {
    margin: 120px auto 120px;
    width: 768px;
}

main section .padding-cad-form {
    padding: 150px;
}

main section form .botao-reg-cad {
    background-color:  #FEDB45;
    color: gray;
    width: 150px;
    display: flex;
    justify-content: center;
}

main section form .botao-reg-cad:hover {
    color: gray;
    box-shadow: 0 0 2em #ddd;
}

/* formulário de login */
main section .alinhamento-form-login {
    margin: 220px auto 220px;
    width: 768px;
}

/* recuperação de senha */
main section .alinhamento-form-rec-senha {
    margin: 270px auto 270px;
    width: 768px;
}

/* escolha de conta */
main section .opcao-conta-card {
    margin: 300px auto;
    background-color: white;
    width: 1280px;
    height: 382px;
}

main section .botao-esc-conta {
    border: 1.5px solid #FEDB45;
    margin: 0 200px;
    display: flex;
    justify-content: center;
}

main section .botao-esc-conta:hover {
    background-color:  #FEDB45;
    color: gray;
}